<div>
  <% if @name %>
  <div>Hello, <%= @name %></div>
  <div>Choose Game Type</div>
  <div><a href="/play">One Player Game</a></div>
  </form>
  <% else %>
  <form action="/" method="post">
    Enter Name:
    <input name="name" type="text">
    <input type="submit" value="Submit">
  </form>
  <% end %>
</div>
